/* Feuille de style pour le projet Bornes-frontière historique entre ls Valais et la Sardaigne */

/* Partie page principale */
body {
    font-family: "Times New Roman", Times, serif;
    font-size: large;
}
.navbar {
    opacity: 0.9;
}
.container-fluid {
    padding: 10px 30px;
}
.row.display-flex {
    display: flex;
    flex-wrap: wrap;
}
.thumbnail {
    height: 85%;
}
#logo {
    position: fixed;
    top: 20px;
    left: 10px;
    width: 30px;
    height: 30px;
}
#titregen, #titregen2, #titregen3 {
    padding-top: 60px;
}
#introphotos, #introtranscriptions, #docu2, #docu4, #docu6 {
    /*background-color: gray;*/
}
#introarchives, #docu2, #docu5 {
    /*background-color:lightgray;*/
    border-left: 1px solid black;
    border-right: 1px solid black;
}
#pieddepage {
    background-color: black;
}

/* Partie page archives transcrites */
a span  {
    display: none;
}
a span img  {
    padding: 10px;
    width:280px;
    height:416px
}
a:hover span    {
    display: block;
    position: absolute;
    z-index: 20;
    border: 10px solid #000;
    margin: 50px 50px;
    box-shadow: 1px 1px 12px #555;
}
#archivetranscrite {
    font-size: x-large;
}
.item {
    width: 100%;
}